body {
    background: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:  "Fira Code", monospace, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  #header {
    width: auto;
    display: flex;
    justify-content: center;
  }
  
  a {

    font-weight: 900;
  }
  
  a, a:visited, a:hover, a:active {
    color: inherit;
  }
  
  p {
    margin: 20px auto 0 20%;
  }

#hashtags {
    font-weight: 900;
}
